# Node
node_modules/
npm-debug.log*

# Python
__pycache__/
*.py[cod]
venv/
.venv/
env/

# Environment variables
.env
.env.*
!.env.example

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Build files
dist/
build/

# Uploaded/private data
uploads/
*.csv
*.xlsx

# Logs
*.log